<button class="btn btn-success" (click)="open(mymodal)">Infos</button>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Informations utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <p><b>Id: </b>{{params.data.idUser}}</p>
    <p><b>Nom: </b>{{params.data.firstName}}</p>
    <p><b>Prénom: </b>{{params.data.lastName}}</p>
    <p><b>Ville: </b>{{params.data.city.cityName}}</p>
    <p><b>Email: </b>{{params.data.email}}</p>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
